.eventInput {
    width: 20vw;
    height: 5vh;
}

.eventButton {
    width: 10vw;
    height: 6vh;
}

.eventButton:hover {
    background-color: lightgreen;
}

.homeButton {
    width: 6vw;
    min-height: fit-content;
    float: left;
    margin-left: 5%;
}

.homeButton:hover {
    background-color: lightgreen;
}